#wrap {
    max-width: 100%;
    margin: auto;
}

/* .header-top {
    margin: auto;
    display: flex;
    max-width: 100%;
    height: 67px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: aqua;
} */

.banner {
    max-width: calc(100% - 500px);
    height: 617.24px;
    flex-shrink: 0;
    background-color: blueviolet;
    margin: auto;
}

.me {
    max-width: calc(100% - 500px);
    height: 675px;
    flex-shrink: 0;
    margin: auto;
    background-color: burlywood;
}

.career {
    max-width: calc(100% - 500px);
    height: 1020px;
    flex-shrink: 0;
    margin: auto;
    background-color: cornflowerblue;
}

.service {
    display: flex;
    max-width: calc(100% - 500px);
    height: 584px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: auto;
    background-color: coral;
}

.project {
    max-width: calc(100% - 500px);
    height: 1020px;
    flex-shrink: 0;
    margin: auto;
    background-color: cornflowerblue;
}
.email {
    max-width: calc(100% - 500px);
    height: 1020px;
    flex-shrink: 0;
    margin: auto;
    background-color: rgb(166, 174, 190);
}

.footer-top {
    max-width: calc(100% - 500px);
    height: 552px;
    flex-shrink: 0;
    margin: auto;
    background-color: burlywood;
}

.footer-down {
    max-width: 100%;
    height: 84px;
    flex-shrink: 0;
    margin: auto;
    background-color: cornflowerblue;
}